div.mobile-login-container {
  @apply h-screen w-screen flex flex-col justify-center items-center;

  main.login-container {
    @apply h-1/2 w-3/4 flex flex-col;

    section.title {
      @apply flex w-full h-1/5 justify-center items-center;

      h1 {
        @apply text-teladoc-purple;
        font-size: var(--mobile-title-font-size);
      }
    }

    form.credentials {
      @apply flex flex-col justify-center items-center w-full h-4/5;

      article.field-container {
        @apply w-full h-1/3 flex flex-col justify-center items-start pl-[10vw];

        label {
          font-size: var(--mobile-subtitle-font-size);
          @apply text-teladoc-pulse text-left;
        }

        input[type="text"],
        input[type="password"] {
          @apply border-[2px] border-teladoc-pulse-light w-4/5 h-1/3 rounded-xl;
          font-size: var(--mobile-text-font-size);
        }

      }

      article.submit-container {
        @apply w-full h-1/3 flex flex-col justify-start items-center;

        input[type="submit"] {
          @apply w-1/5 h-1/3 bg-teladoc-pulse rounded-xl text-white;
          transition: background-color 500ms;
          font-size: var(--mobile-button-font-size)
        }

        input[type="submit"]:hover {
          @apply cursor-pointer bg-teladoc-pulse-light;
        }
      }
    }

  }
}